body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
ul{
    list-style: none;
    padding-left:0;
    margin:0;
}
a{
    text-decoration: none;
    color:inherit;
}
button{
    border: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color:#2F281E;
}

h1{
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
}

h2{
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}
h5{
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}
h6{
    line-height: 26px;
    font-weight: 700;
    font-size: 16px;
}
.button-primary{
    background-color: #FF9900;
    border-radius: 4px;
    color:white;
}
.button-secondary{
    border-radius: 4px;
    color:#000;
    background-color: #FFF;
    border:1px solid #BCD0E5;
    

}
.container{
    width:1130px;
    margin:0 auto;
    padding:0 10px;
}
.header-inner{
    display: flex;
    align-items: center;
    height: 78px;
}
.nav{
    flex-grow: 1;
    margin-right:50px;
    color:#2F281E;
    font-size: 14px;
    line-height:28px;
    font-weight: 400;
}
.nav-list{
    display: flex;
    justify-content:flex-end;
}
.list-item:not(:last-child){
    margin-right: 25px;
}
.list-item:hover{
    color:#FF9900;
}
.header-btn-wrap{
    font-size:0;
}
.header-btn {
    padding: 11px 25px;
    font-size: 16px;
}
.button-primary.header-btn{
    margin-left:14px;
}
.hero {
    height: calc(100vh - 78px);
    min-height: 495px;
    /* padding:50px 0 112px; */
    
}
.hero-inner{
    background-image: url("../images/section-img.jpg");
    background-size: 602px;
    background-position-y: 50%;
    background-position-x: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 458px;
    height: 100%;
}
.hero-content-title{
    margin-bottom: 30px;
}
.hero-content-text{
    margin-bottom:45px ;
}
.button-primary.hero-btn{
    margin-right: 30px;
}
.hero-btn{
    padding:15px 41px;
}
.hero-link{
    color:#FF9900;
    text-decoration: underline;
    font-weight: 600;
    position: relative;
    padding-left: 28px;
}

.hero-link::before{
    content:'';
    position: absolute;
    background: url('../images/triangle.svg');
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 17px;
    height: 19px;
}
.about {
    padding-bottom: 90px;
    background: url('../images/bg-about-section.jpg');
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.about-title{
    text-align: center;
    max-width: 540px;
    width: 100%;
    margin: 0 auto 54px;
}
.card-item-img{
    margin-bottom: 30px;
}
.card-list{
    display: flex;
    justify-content: space-between;
}
.card-item-title{
    margin-bottom:13px ;
}
.card-item-text{
    width:240px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 64px;
}
.card-button{
    padding:15px 33px;
    display: block;
    margin: 0 auto;
}
.vacancy{
    padding-top:120px;
    padding-bottom: 266px;
} 
.vacancy-info-content{
    width: 486px;
} 
.vacancy-info{
    display:flex;
    justify-content: space-between;
    color:#544837;
}
.subtitle{
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 3px;
}
.vacancy-title{
    margin-bottom: 22px;
}
.vacancy-text{
    line-height: 26px;
    font-weight: 500;
}
.vacancy-text:not(:last-child){
    margin-bottom: 25px;
}
.vacancy-text-move{
    padding-right:30px;
    position: relative;
}
.vacancy-text-move::before{
    content:'';
    position: absolute;
    background: url('/images/yellow-tik.svg');
    width:35px;
    height:35px;

}

.people {
    padding: 64px 0 108px;
}

.people-inner{
padding: 119px 0 239px;
position: relative;
text-align: center;
}
.people-inner__title {

}
.people-item {
    position: absolute;
    left: 66px;
    top: 20px;
    width: 332px;
    height: 140px;
}

.people-item__icon{
    position: absolute;
    left: 0;
    bottom: 0;
}
.people-item__dialog {
    width: 274px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
}
.people-item__text {
    position: absolute;
    right: 23px;
    top: 0;
}